@import '../app/variables.module.scss';

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addButton {
  background: linear-gradient(90deg, #0796d3 0%, #53c0f0 100%);
  padding: 16px 24px;
  color: white;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.removeButton {
  background: linear-gradient(90deg, #d30707 0%, #f05353 100%);
  padding: 16px 24px;
  color: white;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#taskInput {
  width: 100%;
  padding: 16px;
  border: 1px solid $light-grayish-blue;
  border-radius: 8px;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .buttons {
    flex-direction: row-reverse;
    gap: 16px;
  }
}
